/* --- Header video --- */

#headerVideo > div.container-fluid{
    padding: 0;
}

#headerVideo > div.container-fluid > div{
    position: relative;
    top: 0;
    left: 0;
}

#headerVideo > div.container-fluid > div > img.headerBot, #headerVideo > div.container-fluid > div > img.headerTop{
    width: 100%;
    height: auto;

    top: 0;
    left: 0;
}

#headerVideo > div.container-fluid > div > img.headerBot{
    position: relative;
    margin-top: 1px;
}

#headerVideo > div.container-fluid > div > img.headerTop{
    position: absolute;
}

#headerVideo > div.container-fluid > div > div{
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -70%);
}

#headerVideo > div.container-fluid > div > div > img.headerBot{
    position: absolute;
}

#headerVideo > div.container-fluid > div > div > img.headerTop{
    position: relative;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}

#headerVideo > div.container-fluid > div > div > img{
    width: 50px;
    height: 48.26px;
}

/* --- Tablet --- */

@media screen and (min-width: 768px){

    #headerVideo > div.container-fluid > div > div > img{
        width: 86px;
        height: 83px;
    }
}

/* --- Desktop --- */

@media screen and (min-width: 992px){
    #headerVideo > div.container-fluid > div > img.headerTop{
        filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.25));
    }
}

/* --- About Sparkle --- */

#aboutSparkle > div.container-fluid{
    padding: 80px 20px;

    display: flex;
    justify-content: center;
}

#aboutSparkle > div > p{
    width: 280px;

    margin: 0;

    font-size: 12px;
    line-height: 15px;
    text-align: center;

    color: #2F4858;
}

/* --- Tablet --- */

@media screen and (min-width: 768px){
    #aboutSparkle > div.container-fluid{
        padding: 150px 80px;
    }
    
    #aboutSparkle > div > p{
        width: 608px;
    
        font-size: 18px;
        line-height: 22px;
    }
}

/* --- Desktop --- */

@media screen and (min-width: 992px){
    #aboutSparkle > div.container-fluid{
        padding: 150px 353px 150px 359px;
    }
    
    #aboutSparkle > div > p{
        width: 654px;
    }
}

/* --- Photo collage --- */
/* photo over photo */
#photoCollage > div{
    position: relative;
    top: 0;
    left: 0;
}
#photoCollage > div > div.row{
    position: relative;
    top: 0;
    left: 0;
}
#photoCollage > div > img.first{
    position: absolute;
    top: -1px;

    z-index: 1;

    width: 100%;
}
#photoCollage > div > img.second{
    position: absolute;
    bottom: -2px;

    z-index: 1;

    width: 100%;
}

/*  */

#photoCollage > div.container-fluid, #photoCollage > div > div > div, #photoCollage > div > div > img{
    padding: 0;
}

#photoCollage > div > div.row{
    width: 100%;
    margin: 0;
}

#photoCollage > div > div > img{
    object-fit: cover;
    overflow: hidden;
}

#photoCollage > div > div > div > img{
    width: 100%;
    min-height: 50%;

    object-fit: cover;
}

/* for safari */
#photoCollage > div > div > img.col-7, #photoCollage > div > div > div > img{
    height: intrinsic;
}

@media screen and (min-width: 992px){
    #photoCollage > div > div > img.col-7, #photoCollage > div > div > div > img{
        height: auto;
    }

    #photoCollage > div > img.first{
        top: -3px;
    }

    #photoCollage > div > img.second{
        bottom: -4px;
    }
}

/* --- Contact Sparkle --- */
#contactSparkle > div.container-fluid, #contactSparkle > div > div.row > div{
    padding: 0;
}

#contactSparkle > div > div.row{
    margin: 120px 20px;
}

#contactSparkle > div > div.row > div{
    display: grid;
    justify-content: center;
    align-items: center;
}

#contactSparkle > div > div.row > div > h3{
    margin-bottom: 30px;

    font-family: Oswald;
    text-transform: uppercase;

    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    color: #2F4858;
}

#contactSparkle > div > div.row > div > a{
    width: 233px;
    height: 50px;

    border-radius: 30px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    background: #FFA800;
    color: #FFFFFF;
}

#contactSparkle > div > div.row > div > a:hover{
    background: #ffda16;
}

#contactSparkle > div > div.row > div > a:active{
    background: #ff8a00;
}

#contactSparkle > div > div.row > div.sapnotajiem{
    padding-bottom: 80px;
}

/* form */

#contactSparkle > div > form{
    margin: 0 20px;
}

#contactSparkle > div > form > h4{
    margin-bottom: 30px;

    font-family: Oswald;
    text-transform: uppercase;

    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;

    color: #2F4858;
}

#contactSparkle > div > form > div{
    margin-bottom: 10px;
}

#contactSparkle > div > form > div > input, #contactSparkle > div > form > div > textarea{
    background-color: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    border: 0;
}

#contactSparkle > div > form > div > input::placeholder, #contactSparkle > div > form > div > textarea::placeholder{
    font-family: Montserrat;
    font-weight: normal;

    font-size: 14px;
    line-height: 17px;

    letter-spacing: -0.015em;

    color: #2F4858;
}

#contactSparkle > div > form > div > textarea{
    height: 150px;
}

#contactSparkle > div > form > div > div.form-text{
    margin-top: 10px;

    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    color: #2F4858;
}

#contactSparkle > div > form > div > div.form-check > input{
    margin-top: 0;

    background: #E7E7E7;
    border: 0;
    border-radius: 3px;
}


#contactSparkle > div > form > div > div.form-check > label{
    margin-left: 17px;
    margin-bottom: 50px;

    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    color: #2F4858;
}

#contactSparkle > div > form > div.submitArea{
    margin-bottom: 150px;

    display: flex;
    justify-content: center;
}

#contactSparkle > div > form > div > button.btn{
    width: 140px;
    height: 48px;

    border-radius: 30px;
    
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    background: #FFA800;
    color: #FFFFFF;
}

#contactSparkle > div > form > div > button.btn:hover{
    background: #ffda16;
}

#contactSparkle > div > form > div > button.btn:active{
    background: #ff8a00;
}

/* --- Tablet --- */

@media screen and (min-width: 768px){
    #contactSparkle > div > div.row{
        margin: 150px 80px;
    }

    #contactSparkle > div > div.row > div > h3{
        margin-bottom: 50px;
    }

    #contactSparkle > div > div.row > div.sapnotajiem{
        padding-bottom: 0px;
    }

    #contactSparkle > div > form{
        margin: 0 80px;
    }
    
    #contactSparkle > div > form > h4{
        margin-bottom: 60px;

        font-size: 30px;
        line-height: 44px;
    }
    
    #contactSparkle > div > form > div{
        margin-bottom: 15px;
    }
    
    #contactSparkle > div > form > div > input::placeholder, #contactSparkle > div > form > div > textarea::placeholder{
        font-size: 18px;
        line-height: 22px;
    }
    
    #contactSparkle > div > form > div > textarea{
        height: 230px;
    }
    
    #contactSparkle > div > form > div > div.form-text{
        margin-top: 15px;

        font-size: 14px;
        line-height: 17px;
    }
    
    #contactSparkle > div > form > div > div.form-check > label{
        margin-left: 25px;
    
        font-size: 14px;
        line-height: 17px;
    }

    #contactSparkle > div > form > div > button.btn{
        width: 182px;
        height: 62px;
        
        font-size: 24px;
        line-height: 29px;
    }
}

/* --- Desktop --- */

@media screen and (min-width: 992px){
    #contactSparkle > div > div.row{
        margin: 150px 168px;
    }

    #contactSparkle > div > div.row > div > h3{
        font-size: 24px;
        line-height: 36px;
    }

    #contactSparkle > div > form{
        margin: 0 auto;

        max-width: 612px;
    }
    
    #contactSparkle > div > form > h4{
        margin-bottom: 55px;
    }
    
    #contactSparkle > div > form > div > textarea{
        height: 232px;
    }

    #contactSparkle > div > form > div > div.form-text{
        margin-bottom: 15px;
    }
    
    #contactSparkle > div > form > div > div.form-check > label{
        margin-left: 21px;
    }
}

/* --- Sponsors --- */
#sponsors > div.container-fluid{
    padding: 0;
    background-image: url("../img/sponsorsMobile.png");
}

#sponsors > div > div{
    padding: 0 22px;
    margin: 0;
    margin-bottom: -40px;

    padding-bottom: 120px;
}

#sponsors > div > h2{
    padding-top: 83px;
    padding-bottom: 60px;

    font-family: Oswald;

    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;

    color: #2F4858;
}

#sponsors > div > div > img{
    max-width: fit-content;
    height: fit-content;

    padding: 0;
}

#sponsors > div > div > img.order-0{
    padding-right: 18px;
    padding-bottom: 40px;
}

#sponsors > div > div > img.order-3, #sponsors > div > div > img.order-2{
    width: auto;
    height: 67px;
    
    margin: 0 auto;
}

/* --- Tablet --- */

@media screen and (min-width: 768px){
    #sponsors > div > h2{
        padding-bottom: 36px;
    }

    #sponsors > div > div > img{
        padding-right: 0px;
        padding-bottom: 0px;
    }
    
    #sponsors > div > div > img.order-3, #sponsors > div > div > img.order-2{
        max-width: fit-content;
        height: fit-content;
        
        margin: 0 0;
    }
}

/* --- Desktop --- */

@media screen and (min-width: 992px){
    #sponsors > div > h2{
        padding-bottom: 70px;
    }
}

#sponsors > div > div{
    padding-bottom: 145px;
}