/* --- Mobile --- */
@media only screen and (max-width: 600px) {

    /* --- Header --- */
    .headerImg {
        height: 169px;
        width: 320px;
    }
    section.d-sm-block{
        height: 169px;
        width: 320px;
    }
    section.d-sm-block > div.container-fluid{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* --- About us --- */
    #aboutUs{
        padding: 80px 20px;
        margin-bottom: 0;
        
        width: 100%;

        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        text-align: center;
    }

    #aboutUs > p {
        width: 280px;
        margin-bottom: 0;
    }

    /* --- Photo collage --- */

    #rippedImage{
        position: absolute;
        padding: 0;
    }

    #imageCollage > img{
        padding: 0;
        width: 160px;
    }

    #imageCollage > div.col > img.imageTop{
        width: 160px;
    }

    #imageCollage > div.col{
        padding: 0;
    }

    /* --- Contact us --- */
    #contHeader > div {
        padding-top: 150px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #contact_us{
        width: 320px;
    }

    #contHeader > div > div > div > div > button{
        background-color: #ffa800;
        border: none;
        border-radius: 25px;
    }

    
    #contactHeadingfirst, #contactHeadingsecond{
        font-family: Oswald;
        color: #2F4858;
        font-size: 18px;
    }

    #contactHeadingsecond{
        padding-top: 80px;
    }

    #contactHeading{
        font-family: Oswald;
        color: #2F4858;
        font-size: 24px;
    }
    #contactHeader > div{
        padding-bottom: 55px;
    }

    #contacts{
        padding: 150px 0;
    }

    #form{
        padding-bottom: 150px;
    }

    #form > div > div > div > input::placeholder, #form > div > input::placeholder, #form > div > textarea::placeholder, #form > div > div{
        color: #2F4858;
    }
    #form > div > div > div > input, #form > div > input, #form > div > textarea{
        background: rgba(196, 196, 196, 0.4);
        border: none;
    }

    #form > button{
        background-color: #ffa800;
        border: none;
        border-radius: 25px;
        margin-left: 10px;
        width: 50%;
    }

    /* --- Sponsors --- */
    #sponsors{
        background: #ffcb66;
    }

    #sponsors-list{
        padding-bottom: 90px;
    }

    #sponsors-list > img{
        width: 131px;
        margin-left: 20px;
    }

    #sponsors-list > img.linearis{
        width: 48px;
        margin-left: 59px;
        margin-top: 34px;
    }

    .font2{
        font-family: Oswald;
        color: #2F4858;
        font-size: 24px;
        padding: 100px 0px 89px 0px;
    }
}

@media only screen and (min-width: 601px) {

    /* --- Header --- */
    .headerImg {
        height: 722px;
        position: relative;
    }

    .headerImgPlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        background-color: white;
    }

    /* --- About us --- */
    #aboutUs{
        padding: 150px 0;
        margin-bottom: 0;
        
        width: 654px;
        height: auto;

        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }

    #aboutUs > p {
        width: 654px;
        height: 114px;
        margin-bottom: 0;
    }

    /* --- Photo collage --- */

    #rippedImage{
        position: absolute;
        padding: 0;
    }

    #imageCollage > img{
        padding: 0;
    }

    #imageCollage > div.col > img.imageTop{
        width: 480px;
    }

    #imageCollage > div.col{
        padding: 0;
    }

    /* --- Contact us --- */
    #contHeader > div {
        padding-top: 150px;
    }

    #contHeader > div > div > div > div > button{
        background-color: #ffa800;
        border: none;
        border-radius: 25px;
    }

    #contactHeadingfirst, #contactHeadingsecond{
        font-family: Oswald;
        color: #2F4858;
        font-size: 24px;
    }

    #contactHeading{
        font-family: Oswald;
        color: #2F4858;
        font-size: 30px;
    }
    #contactHeader > div{
        padding-bottom: 55px;
    }

    #contacts{
        padding: 150px 0;
    }

    #form{
        padding-bottom: 150px;
    }

    #form > div > div > div > input::placeholder, #form > div > input::placeholder, #form > div > textarea::placeholder, #form > div > div{
        color: #2F4858;
    }
    #form > div > div > div > input, #form > div > input, #form > div > textarea{
        background: rgba(196, 196, 196, 0.4);
        border: none;
    }

    #form > button{
        background-color: #ffa800;
        border: none;
        border-radius: 25px;
        margin-left: 10px;
    }

    /* --- Sponsors --- */
    #sponsors{
        background: #ffcb66;
    }

    #sponsors-list{
        padding-bottom: 90px;
    }

    .font2{
        font-family: Oswald;
        color: #2F4858;
        font-size: 24px;
        padding: 100px 0px 89px 0px;
    }
}